# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#.idea folder
/.idea
#target folder
/Blockchain/target
/SignalingServer/target
/API/target
#tmp folder (rocksDB)
/Blockchain/src/main/java/tmp
#enviroment file
.env
#iml file
/Blockchain/Blockchain.iml
/SignalingServer/SignalingServer.iml
/API/API.iml
/Client/client.iml
#node modules
